* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: gray;
  font-size: 1.5rem;
}
.wrapper {
  display: grid;
  place-content: center;
  text-align: center;
  &__text {
    padding: 1rem 2rem;
    font-size: 1.8rem;
    color: springgreen;
    background-color: whitesmoke;
    display: inline-block;
    border-radius: 10px;
  }

  textarea {
    resize: none;
    font-size: 1.2rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    border: 5px solid blue;
  }
}
